body {
    background-image: url(images/wallpaper.png);
    background-color: black;
    font-family: 'VT323', monospace;
    color: black;
}
#search {
    float: right;
    position: relative;
    height: 40px;
    color: black;

}

input {
    display: inline-block;
    color: black;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 25px;
    background-color: rgba(0,0,0,0);

}

input[type=submit]{
    padding: 8px;

}

input[type=submit]:hover{
    background-color: rgba(0,0,0,0.7);
    
}
input[type=text] {
    background-image: url('images/search-13-32.png');
    background-size: 25px;
    background-position: 10px 50%; 
    background-repeat: no-repeat;
    padding: 8px;
    padding-left: 40px;
    outline: none;
    
}
#mainbar {
    display: block;
    background: rgba(0,0,0,0.5);
    height: 40px;
    margin: 200px 0 0 0;
}

a {
    float: right;
}

#Social {
    display: block;
    float: right;
}



#txt {
    border: 3px solid white;
    background-color: rgba(255,255,255,0.4);
    display: block;
    width: 100px ;
    height: 40px;
    text-align: center;
}

#mainBar {
    display: block;
    height: 40px;
    background-color: rgba(255,255,255,0.4);
    margin: 50px 0px;
    
}

#social {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 40px;
    float: right;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
