/* Main body and wrapper */
body {
    background-image: url(images/wallpaper.png);
    background-color: black;
    font-family: 'VT323', monospace;
    color: var(--text-color);
    font-size: 25px;
}

#wrapper {
    margin: 0 auto;
    width: 95vw;
    height: 98vh;
}

/*Color control*/
:root {
    --primary-color: #FFAA88;
    --secondary-color: #FFD195;
    --text-color: black;
}

/*----------------------------------------------*/
/*Header and clock, customising this doesn't break too much*/
#time{
    border: 5px solid var(--primary-color);
    background-color: var(--secondary-color);
    width: 200px ;
    height: 50px;
    font-size: 50px;
    text-align: center;
    float: right;
    display: block;
}

header {
    height: 56px;
}

/*----------------------------------------------*/
/*Search Bar, changing some of the sizes may break everything*/
#search {
    float: right;
    position: relative;
    height: 40px;
    color: var(--text-color);
}

input {
    display: inline-block;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 25px;
    background-color: rgba(0,0,0,0);
}

input[type=submit]{
    padding: 8px;
}

input[type=submit]:hover{
    background-color: var(--primary-color); 
}
input[type=text] {
    background-image: url('images/search-32.png');
    background-size: 25px;
    background-position: 10px 50%; 
    background-repeat: no-repeat;
    padding: 8px;
    padding-left: 40px;
    outline: none;
}

/*----------------------------------------------*/
/*Nav Bar, play with this if you like but down complane if it breaks everything*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#mainBar {
    display: block;
    height: 40px;
    background-color: var(--secondary-color);
    margin: 40px auto;
    border-top: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
}

/*----------------------------------------------*/
/*Menu styling for each menu list*/
.menu {
    display: inline-block;
    float: right;
    position: relative;
    height: 40px;
}

.menu_drop {
    background-color: rgba(0,0,0,0);
    border: none;
    width: 150px;
    font-family: 'VT323', monospace;
    font-size: 25px;
    height: 100%;
}

.menu_content {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 150px;
    overflow: hidden;
}
    
.menu_content a{
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 25px;
    width: 100px;
}

.menu_content a:hover {
    background-color: var(--primary-color);
}

.menu:hover .menu_content {
    display: block;
}

.menu:hover .menu_drop {
    background-color: var(--primary-color);
}